a {
  appearance: none;
  text-decoration: none;
  background: rgba(112, 76, 182, 0.1);
  outline: none;
  font-size: calc(10px + 1.5vmin);
  padding: 8px 24px;
  border: 2px solid transparent;
  border-radius: 8px;
  color: rgb(112, 76, 182);
  cursor: pointer;
  transition: all 0.15s;
  display: inline-block;
}
a:hover,
a:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}
a:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.App {
  font-size: calc(10px + 1vmin);

  width: 60%;
  min-width: 960px;
  margin: 16px auto;
}
.App nav, .App main {
  margin-top: 16px;
}
.App > .container {
  display: flex;
  flex-direction: row;
}
.App > .container > nav {
  padding: 0 24px;
}
.App > .container > nav a {
  padding: 8px 32px;
}
.App > .container > main {
  flex-grow: 2;
}

