.datagrid {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.datagrid tr th, .datagrid tr td {
    border: 2px dashed rgb(112, 76, 182);
    padding: 16px;
}
.datagrid thead, 
.datagrid tr th:first-child, 
.datagrid tr td:first-child {
    background: rgba(112, 76, 182, 0.1);
}
.datagrid a {
    background: none;
}

.status {
    text-align: right;
}
